# Svelte Frontend/Backend
BETTER_AUTH_SECRET="better-auth-secret-123456789"

# Svelte Frontend/Backend, Caddy
# Better-auth uses this to create URLs simply. Caddy uses this to provision tls certificates if in prod
# `http` vs `https` is important! and don't add a trailing '/' to the end or Caddy will fail and vite will appear broken
ORIGIN="http://localhost:5173"

# To view your own analytics, open your umami app and put the app id here
UMAMI_APP_ID=""